@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap');
/* General Rules */
body {
    height: 100%;
    width: 100%;
    font-family: "Roboto", sans-serif;
    color: #fafafa;
    background-color: #282828;
}
.container-fluid {
    padding: 0;
}
hr.hr-divider {
    border-top: 2px solid #fafafa;
    width: 90%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.row {
    padding: 2rem;
}
/*-----------------Colors-------------*/
.navbar-brand,.nav-link {
    color: inherit !important;
}
.container-grey {
    background-color: inherit;
    color: #fafafa;
}
.navbar-dark {
    background-color: rgba(40, 40, 40, 0.9) !important;
}
/*-----------------Navigation-------------*/
.navbar {
    padding: 4px 12px 4px 12px;
}
.navbar {
    border-bottom: 1px solid #fafafa;
}
.navbar-brand {
    padding: 0;
    font-size: 1.4rem;
    font-weight: 500;
}
.nav-item {
    padding: 0 1.2rem;
    font-size: 1.1rem;
    font-weight: 300;
}
.nav-item a:hover {
    text-decoration: underline;
    color: inherit !important;
}
.active a {
    font-weight: 400;
    text-decoration: underline;
}
/*-----------------Hero Image-------------*/
/*Inspiration for hero image zoom effect was Code Institute's "Love Running" walkthrough project,
and altered accordingly to fit this project*/
#hero-image-outer {
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;
}
#hero-image {
    height: 450px;
    width: 100%;
    background: url("/assets/images/hero-image.png") no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 4.5s;
    animation-fill-mode: forwards;
}
@keyframes hero-zoom {
    from    {
        transform: scale(1.3);
    }
    to  {
        transform: scale(1.1);
    }
}
#hero-social i{
    color: #e1306c;
    font-size: 1.6rem;
    top: 20px;
    right: 20px;
    position: absolute;
}
#hero-buttons {
    right: 50%;
    transform: translateX(50%);
    bottom: 10%;
    position: absolute;
}
#hero-buttons .btn {
    margin: 0.5rem 2rem;
    padding: 0.2rem 1.4rem;
}
/*-----------------Alert Section-------------*/
.alert-container .row {
    margin: 0;
}
.alert-container {
    width: 95%;
}
.alert-btn a {
    position: relative;
    float: right;
}
.alert {
    margin-bottom: 0;
    background-color: #fafafa !important;
}
/*-----------------Image Slider-------------*/
.headings {
    padding-top: 2rem;
    padding-bottom: 0;
}
.carousel-inner .row {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.carousel-item .col-md-4 {
    padding: 0 2rem;
}
/*-----------------Article-------------*/
.article-row p {
    padding-right: 1rem;
}
/*-----------------Social-------------*/
.social-icons {
    font-size: 3rem;
}
.social-icons i {
    color: #fafafa;
}
.fa-facebook-f:hover {
    color: #3b5998;
}
.fa-youtube:hover {
    color: #c4302b;
}
.fa-twitter:hover {
    color: #00acee;
}
.fa-instagram:hover {
    color: #e1306c;
}
/* Footer */
#nsum {
    margin: 0;
    padding-bottom: 0.5rem;
}
/*Gallery*/
.video-container {
    padding-bottom: 3rem;
    padding-top: 2rem;
}
/*About*/
article img {
    margin: 0 1rem 1rem 1rem;
}
article p {
    text-align: justify;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}
/* Media Queries */
/*Extra small (xs) devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
    #hero-buttons .btn {
        margin: 0.5rem 2rem;
    }
    #hero-social {
        display: none;
    }
    .alert-container {
    width: 100%;
    }
    .social-row {
        padding: 0;
    }
    .review-slide {
        display: none;
    }
}
/*Small (sm) devices (landscape phones, 576px and up)*/
@media (max-width: 767px) {
    #hero-buttons .btn {
        margin: 0.5rem 1rem;
    }
    .social-icons {
    font-size: 2rem;
    padding: 0.3rem 1rem;
    }
    .article-row img {
        padding-top: 1rem;
    }
}
/*Medium (md) devices (tablets, 768px and up)*/
@media (max-width: 991px) {

}
/*Large (lg) devices (desktops, 992px and up)*/
@media (max-width: 1199px) {

}
/*Extra (xl) large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}